div{
    
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      
    width: 100%;
    button.mat-menu-item {
      width: 10%;
      padding: 0;
      text-align: center;
  }
  .banner {
    text-align: center;
    background-color: rgb(107, 183, 253);
    margin: 0 auto;
    height: 50px;

  }
  .strong{
    -ms-text-size-adjust: auto;
    
  }
}