.image{
    background: url("../../assets/medic1.jpg");
    
.form {
   
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7511379551820728) 38%, rgba(0,212,255,1) 100%);
    padding-bottom: 90px;
   
}
}