.mat-elevation-z8 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.search{
    background: black;
    
    
    color: white;
    border: groove;
    border-color: #c7425a;
}
table {
    width: 100%;
    
  }
 